<tr>
    {{#each-in columns as |col properties|}}
        {{# if (eq properties.[1] true) }}
            <th {{action "sortColumn" col}}>
                {{# if properties.[2] }}
                    <abbr title={{properties.[2]}}>{{ properties.[0] }}</abbr>
                {{ else }}
                    {{ properties.[0] }}
                {{/ if}}

            {{# if (eq sortedColName col) }}
                {{# if (eq sortedColOrder true) }}
                    <span class="sorted glyphicon glyphicon-sort-by-attributes"></span>
                {{ else if (eq sortedColOrder false) }}
                    <span class="sorted glyphicon glyphicon-sort-by-attributes-alt"></span>
                {{/ if}}
            {{ else }}
                <span class="glyphicon glyphicon-sort"></span>
            {{/ if}}
            </th>
        {{ else }}
            <th>
                {{# if properties.[2] }}
                    <abbr title={{properties.[2]}}>{{ properties.[0] }}</abbr>
                {{ else }}
                    {{ properties.[0] }}
                {{/ if}}
            </th>
        {{/ if}}
    {{else}}
        <th {{action "sortColumn" "colNameToBeSortedBy"}}>Header 1</th>
    {{/each-in}}
</tr>