<tr>
    {{#each columns as |col|}}
        <th {{action "sortColumn" col}}>{{col}}
        {{# if (eq sortedColName col) }}
            {{# if (eq sortedColOrder true) }}
                <span class="sorted glyphicon glyphicon-sort-by-attributes"></span>
            {{ else if (eq sortedColOrder false) }}
                <span class="sorted glyphicon glyphicon-sort-by-attributes-alt"></span>
            {{/ if}}
        {{ else }}
            <span class="glyphicon glyphicon-sort"></span>
        {{/ if}}
        </th>
    {{else}}
        <th {{action "sortColumn" "colNameToBeSortedBy"}}>Header 1</th>
    {{/each}}
</tr>