<tr>
    <!--
    <th {{action "sortBy" "country.iso2"}}>CO <span class="{{sortByCountry}}"></span></th>
    <th {{action "sortBy" "no"}}>No <span class="{{sortByNo}}"></span></th>
    <th {{action "sortBy" "category.category"}}>Category <span class="{{sortByCategory}}"></span></th>
    <th {{action "sortBy" "status.status"}}>Status <span class="{{sortByStatus}}"></span></th>
    <th {{action "sortBy" "donor.donor"}}>Donor <span class="{{sortByDonor}}"></span></th>
    <th {{action "sortBy" "brand"}}>Brand <span class="{{sortByBrand}}"></span></th>
    <th {{action "sortBy" "model"}}>Model <span class="{{sortByModel}}"></span></th>
    <th {{action "sortBy" "description"}}>Description
        {{# if (eq sortBy "description") }}
            {{# if (eq sortOrder true) }}
                <span class="sorted glyphicon glyphicon-sort-by-attributes"></span>
            {{ else if (eq sortOrder false) }}
                <span class="sorted glyphicon glyphicon-sort-by-attributes-alt"></span>
            {{/ if}}
        {{ else }}
            <span class="glyphicon glyphicon-sort"></span>
        {{/ if}}
    </th>
    <th width="40px">Edit</th>
    -->
    {{#each columns as |col|}}
        <th {{action "sortColumn" col}}>{{col}}
        {{# if (eq sortByColName col) }}
            {{# if (eq colSortOrder true) }}
                <span class="sorted glyphicon glyphicon-sort-by-attributes"></span>
            {{ else if (eq colSortOrder false) }}
                <span class="sorted glyphicon glyphicon-sort-by-attributes-alt"></span>
            {{/ if}}
        {{ else }}
            <span class="glyphicon glyphicon-sort"></span>
        {{/ if}}
        </th>
    {{else}}
        <th {{action "sortColumn" "bla"}}>Header 1</th>
        <th title="item2">{{columns}}</th>
        <th title="item3">Header 3</th>
        <th title="item4">Header 4</th>
        <th title="item5">Header 5</th>
        <th title="item6">Header 6</th>
        <th title="item7">Header 7</th>
        <th title="item8">Header 8</th>
        <th title="item9">Header 9</th>
    {{/each}}

</tr>