<h2 class="text-center"><mark>highlight</mark>Assets List2</h2>

<div class="inner-addon right-addon">
    <i class="glyphicon glyphicon-search"></i>
    {{input class="form-control" value=theFilter type='text' placeholder='Search by Description'}}
</div>

<div style="overflow: visible; position: relative;">
    <div class="table-responsive">
        {{#link-to 'assets.new'}}<li class="btn btn-danger btn-new">+</li>{{/link-to}}
        <table class="table table-bordered table-striped table-hover">
            {{table-thead
                columns=cols
                sortBy=(action "sortColumnBy")
                sortedColName=sortedColName
                sortedColOrder=sortAscending }}
            <tbody>
            {{#each filteredAssets as |asset|}}
                <tr>
                    <td>{{asset.country.iso2}}</td>
                    <td>{{asset.no}}</td>
                    <td>{{#link-to 'assets.edit' asset.id }} {{asset.description}}{{/link-to}}</td>
                    <td>{{asset.category.category}}</td>
                    <td>{{asset.status.status}}</td>
                    <td>{{asset.donor.donor}}</td>
                    <td>{{asset.brand}}</td>
                    <td>{{asset.model}}</td>
                    <td>{{asset.prnumber}}</td>
                    <td>{{asset.ponumber}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {{!-- If we're on the first page, do not display the link --}}
        {{#if isFirstPage}}
            <a href="#">Previous</a>
        {{else}}
            {{#link-to (query-params page=prevPage)}}Previous{{/link-to}}
        {{/if}}

        {{!--
        For each page, display a link leading to it.
        We could be smart and disable the link for the current page,
        just like we're doing for the "previous"/"next" links.
        --}}
        {{#each num in pageRange}}
            {{#link-to (query-params page=num)}}{{num}}{{/link-to}}
        {{/each}}

        {{!-- If we're on the last page, do not display the link --}}
        {{#if isLastPage}}
            <a href="#">NO Next</a>
        {{else}}
            {{#link-to (query-params page=nextPage)}}YES Next{{/link-to}}
        {{/if}}
    </div>
</div>
