<h2>Assets List</h2>

{{#link-to 'assets.index'}}<a href="" class="btn btn-sm btn-primary">Add New</a>{{/link-to}}<br /><br />
<div class="table-responsive">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Country</th>
            <th {{action "sortBy" "no"}}>No</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Status</th>
            <th>Donor</th>
            <th>Brand</th>
            <th>Model</th>
            <th {{action "sortBy" "description"}}>Description</th>
            <th>Sno</th>
            <th width="70px">Edit</th>
        </tr>
    </thead>
    <tbody>
    {{#each sortedAssets as |asset|}}
        <tr>
            <td>{{asset.country.iso2}}</td>
            <td>{{asset.no}}</td>
            <td>{{asset.category.category}}</td>
            <td>{{asset.subcategory.subcategory}}</td>
            <td>{{asset.status.status}}</td>
            <td>{{asset.donor.donor}}</td>
            <td>{{asset.brand}}</td>
            <td>{{asset.model}}</td>
            <td>{{asset.description}}</td>
            <td>{{asset.sno1}}</td>
            <td>
                {{#link-to 'assets.new'}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
                <button class="btn-link" {{action 'deleteAsset' asset}}><span style="color:red;" class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>
